


* {
    margin: 0;
    list-style: none;
}

header {
    height: 100vh;
}

#cabecalho {
    display: inline-block;
    width: 100vw;
    height: 20vh;
    justify-content: left;
}

#navegacao {
    margin-left: 60vw;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
}

li {
    margin-left: 40px;
}

#dados {
    height: 100vh;
}

